.about-img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 100%;
}

.container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 100px;
        padding-top: 250px;
}

.left {
        display: flex;
        align-items: center;
        width: 450px;
        height: 450px;
}

.right {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 450px;
        height: 450px;
}

.dash {
        width: 50px;
        height: 6px;
        background-color: rgb(75, 75, 184);
        border-radius: 20px;
}