.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-png {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 26%;
}

.png {
    object-fit: cover;
     
}

.img-full {
    width: 700px;
    height: 700px;
   
}

.overlay {
    display: none;
    background-color: rgb(7, 10, 12);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    opacity: 90%;
}

.material-icons-outlined {

    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 97;
    cursor: pointer;
    background-color: #e8dbfa;
    opacity: 60%;
}

.img-view {
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dash {
    width: 70px;
    height: 7px;
    background-color: rgb(75, 75, 184);
    border-radius: 20px;
}