
.container {
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: space-around;
   width: 100%;
   flex-wrap: wrap;
   gap: 100px;
}
.item {
    width: 350px;
}
.dash {
        width: 70px;
        height: 7px;
        background-color: rgb(75, 75, 184);
        border-radius: 20px;
}
.png {
    object-fit: cover;
}
ul {
  list-style-type: none;
}