.container {
    display: flex;

    flex-direction: column;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dash {
    width: 70px;
    height: 7px;
    background-color: rgb(75, 75, 184);
    border-radius: 20px;
}
.splide {
    width: 1000px;
    display: flex;
    justify-content: space-between;
   padding: 20px;
}
.splide__slide {
    width: 1000px;
    display: flex;
    align-items: center;
     flex-direction: column;
}